.payment {
  border: 1px solid grey;
  border-radius: 3px;
  padding: 2%;
  margin: 1%;
  display: flex;
  flex-direction: column;
}

.payment__para {
  flex: 1;
}

@media only screen and (max-width: 844px) {
  .payment__para {
    font-size: 11px;
  }
}
